{%extends 'wedding/base.html'%}     <!--TO CONNECT TO THE PARENT HTML FILE--->

<!--TITLE FOR THIS PAGE--->
{% block title %} Our Story {% endblock %}


<!--THE CONTENT OF THIS PAGE--->
{% block content %}

<div class="container">
  <div class="row">

    <div class="col-sm-5" style="background-color:pink;" id="man">
      <h3><b>How I met her...</b></h3>
      <p>
        Love is an eternal journey, a path that winds through the valleys of understanding and the peaks of compassion. 
        It's a tapestry woven with the threads of patience and kindness, and it's a melody that plays on the strings of
         the heart, creating a symphony of emotions that knows no end. Love is not measured by the ticking of the clock 
         or the turning of the calendar; it's a timeless, boundless force that transcends the constraints of space and 
         time. In the garden of love, every day is a new bloom, every moment a new discovery, and every touch a reminder
         that the heart knows no limits when it comes to loving you.
      </p>

      <p>
        In my previous workplace, I had the pleasure of meeting her around four years ago. She was a student, just like 
        me, working in the same organization. Our relationship started professionally, but over time, we developed a 
        friendship, and as we got to know each other better, we discovered a deeper connection. We began dating about 
        two years ago, and our relationship has evolved into something truly special. For me, it wasn't love at first 
        sight, but rather a gradual journey, and I can confidently say that every moment has been worth it, guided by 
        God's grace.
      </p>

      <p>
        Love is a journey, often with its twists and turns, challenges and joys. It's the story that we write together, 
        day by day, chapter by chapter. Through every hardship, our love grew stronger, and in the happiest of moments, 
        it soared to new heights. And now, as we stand hand in hand, I can see that all those chapters have led us to 
        the most beautiful of endings. Ours is a love that defied the odds, a love that persevered, and a love that found 
        its way to the happiest of endings—a love that will keep writing its beautiful story forever.
      </p>
       
    </div>

    <div class="col-sm-2" id="love" >
    </div >
 
    <div class="col-sm-5" style="background-color:pink;" id="woman">
      <h3><b>How I met him...</b></h3>

      <p>
        Love, as seen through the eyes of a woman, is a magnificent tapestry of emotions. It's a gentle yet fierce
        force, a source of immeasurable strength and tenderness. It's the way our hearts flutter like delicate 
        butterflies, and it's the powerful wave that lifts us when we need it most. Love, for us, is a deep well
         of compassion and nurturing, an unspoken language of understanding, and an unwavering support system. 
         It's the warmth of an embrace, the softness of a kiss, and the constancy of a hand to hold through the 
         trials and joys of life. Love, as we know it, knows no bounds, and it's a beautiful journey that unfolds 
         with every sunrise, whispering that we are infinite in our capacity to love and be loved.
      </p>
        
      <p>
        Our love story started about four years ago at our former workplace. I had the delightful opportunity to cross
        paths with him. He too was a student navigating the same professional terrain. What commenced as a purely 
        professional interaction soon blossomed into a genuine friendship. Over time, as our bond deepened, we 
        unearthed a connection that transcended the surface. Two years ago, we took a leap of faith and embarked 
        on a romantic journey, transforming what was once a simple acquaintance into a love that is both rare and 
        precious. It wasn't a love that happened at first sight, but rather a love that developed gradually, one 
        cherished moment at a time. And I can wholeheartedly declare that every step of this journey, guided by 
        the grace of God, has been entirely worthwhile.
      </p>

      <p>
        Love is a journey, complete with its winding paths, moments of adversity, and boundless joys. It's the 
        story we've penned together, day after day, chapter after chapter. In the face of every challenge, our 
        love blossomed, and in our happiest moments, it soared to greater heights. As we stand side by side, 
        it's clear that every page has guided us to the most exquisite conclusion. Our love, a narrative that 
        defied all odds, that endured and thrived, has reached its happiest of endings—a love story that will 
        continue to compose its beautiful chapters eternally.
      </p>
      
    </div>
  </div>
</div>

<audio controls autoplay loop src="../../static/audio/all.mp3"></audio>
  
{% endblock %}