{%extends 'wedding/base.html'%}     <!--TO CONNECT TO THE PARENT HTML FILE--->

<!--TITLE FOR THIS PAGE--->
{% block title %} Our Story {% endblock %}


<!--THE CONTENT OF THIS PAGE--->
{% block content %}

<div class="container">
  <div class="row">

    <div class="col-sm-4" style="background-color:pink;" id="man">
      <h3>How I met her...</h3>
      <p>
        Love is a beautiful thing, I still remember the first time I fell in love, I was 28 years old. I have 
        been dating but have not really experienced Love. It was a Tuesday and I saw that babe walking by with
        her friend. My eyes were locked onto her and my senses flown away. I was admiring God's beauty in a human. 
        Like a man under a spell I immediately left what I was doing and started pursuing this babe like a lion after a prey..
        I don't know where the courage came from but I walked up to them and started vibing with both friends 
        without letting them know who I was into.
      </p>

      <p>
        She got near her house and told me to go back, so I collected the numbers of both of them. Deleted the friends 
        own immediately and saved my crush. Her name was Bukola. Then my mumu started .. First I bought mtn card 400 
        to load so I can call her .. at first she gave me tough time , I'll call in the morning she won't pick , call 
        on the afternoon same thing. Then in the night she would pick and then tell me "sorry I did not see your calls"
      </p>
        
      <p>
        Infact when I knew I was in love was the day she flashed me by mistake, I was hungry as hell that day, and me 
        and my friend was already drawing map on how we are going to spend the last 200naira with me.. i'mmediately I 
        saw that call. Hunger flew away . And because I don't have credit to call her back I quickly used the last 200
        to buy card so I can talk to her. Only for her to pick and tell me "Pls I'm very sorry you're not who I wanted to call"
        I was disappointed but still want to talk to her then she told me "I'm busy right now , maybe later" 
      </p>
        
      <p>
        Omo I received insult from my friend tire that day.. infact that momth was hell .. my friend was so angry with me 
        that he called me woman wrapper. But still yet I love her the same. One day I texted her that it's mu birthday and 
        that even if she won't call she should at least text me happy birthday. After about 2 hours she called me for 
        the first time , wished me happy birthday and ask if I'm celebrating it . I told her m not celebrating but I 
        would be happy if she would follow me to a fancy restaurant
      </p>
        
      <p>
        She agreed. And it started from there. From tastee fried chicken I took her to ShopRite and we did small shopping.
        After that day she started picking my calls and I never stopped showing her how much I love her. I make sure I 
        always send her Good morning and good night text. I also make sure every time I buy airtime I buy her own too.But 
        with everything she told me she's not interested in a relationship. One day I stopped. no more calls no more text.
        I forced myself to stop talking to her. After about a week I woke up to a text from her that says "I miss seeing your
        text messages and missed calls"
      </p>
        I was happy so I called her back and like a miracle she came to my house that day and we kissed..the whole skyrocketed from there.
      </p>
    </div>

    <div class="col-sm-2" id="love">
      <img src="../../static/images/love.jpg" alt="Love" width="100px" height="100px">
    </div>

    <div class="col-sm-4" style="background-color:pink;" id="woman">
      <h3>How I met him...</h3>

      <p>
        If I were to write our love story as a dramatic blurb for a movie, it would go something like this…
        Two people from opposite sides of the world meet in an unlikely place. After their relationship endures
        months of long-distance, just days before their planned reunion, a fatal disease sweeps the world. 
        International borders slam shut and the two star-crossed lovers become indefinitely separated. Will 
        their transpacific relationship be able to withstand a global pandemic?
        Now I’ve hopefully got you hooked in, here is the real-life story of how I met my husband
      </p>
        
      <p>
        In September of 2019, I felt a strong and unexpected calling to leave my life in New Zealand and move 
        over to a small town in Australia to volunteer for a missions organization. I arrived at the volunteer 
        house, where I was greeted by a handsome Canadian man (who very graciously lugged my three oversized suitcases inside).
        I instantly remembered that this must be James, who I was told would be one of my two flatmates and 
        the only other member of staff at the organization I was volunteering at.
      </p>
      
      <p>
        Inevitably, we started spending a lot of time together. In fact, we were spending so much time together, 
        that after two weeks, we both admitted we had feelings for each other. The only problem was, James was
        ending his time at the organization and was planning to move back to Canada in less than two months.
      </p>

      <p>
        We relished every moment we had with each other during this time, knowing that it was soon going to 
        come to end. A few days before James left for Canada, he asked me to be his girlfriend.
        We had no idea what the future held for us, but at this point, we both knew we really wanted to be 
        together. A month later, I had booked a flight to Canada to see James and meet his family. Everything 
        was going wonderfully, except for the fact that we lived on opposite sides of the globe.
      </p>
        
      <p>
        Once I got back to Australia, long-distance quickly became gruelling. It was during this time that 
        James made the decision that when I returned to New Zealand, (once my time volunteering in Australia 
        came to an end), he would move over there with me.
      </p>
    </div>
  </div>
</div>

<audio controls autoplay loop src="../../static/audio/all.mp3"></audio>
  
{% endblock %}